@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50;
  }
}

@layer base {
  @font-face {
    font-family: 'DM Sans';
    src: url('src/assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
    font-style: normal;
  }
  @font-face {
    font-family: 'DM Sans';
    src: url('src/assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
    font-style: italic;
  }
  @font-face {
    font-family: 'MuseoModerno';
    src: url('src/assets/fonts/MuseoModerno-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'MuseoModerno';
    src: url('src/assets/fonts/MuseoModerno-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
  }
}
